{% extends "base.html" %}

{% block body %}
{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Transaction Hash</th>
        <th>Method</th>
        <th>Block</th>
        <th>Age</th>
        <th>From</th>
        <th>To</th>
        <th>Value</th>
        <th>Transaction Hash</th>

      </tr>
    </thead>
    <tbody>
      {% for hash in hash %}
        <tr>
          <td>{{ hash.content }}</td>
        </tr>
        <!-- to add the remaining-->
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
{% endblock %}