{% extends "base.html" %}

{% block body %}
{% block content %}
<div style="overflow-x:auto" class="table-responsive-sm fixTableHead">
  <table id="data" class="table table-hover"> 
        {%set ns=namespace(t=0)%} 
        {%for header in headings%}
        <th onclick="sortTable('{{ ns.t }}')">{{header}}</th>
        {% set ns.t = ns.t + 1%}     
        {% endfor %}
      
    <tbody>
      {% for i in result %}
      <tr>
      {% for key, value in i.items() %}

        {% if value == ""%}
        <td> - </td>
        {%else%}
        <td> {{ value}} </td>
        {%endif%}
        {% endfor %}</tr>
        {% endfor %}      
    </tbody>
  </table>
</div>
{% include 'result.html' %}
{% endblock %}
{% block scripts %}
<script>
  function sortTable(n) {
  
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("data");
    switching = true;
    //Set the sorting direction to ascending:
    dir = "asc"; 
    /*Make a loop that will continue until
    no switching has been done:*/
    while (switching) {
      //start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /*Loop through all table rows (except the
      first, which contains table headers):*/
      for (i = 1; i < (rows.length - 1); i++) {
        //start by saying there should be no switching:
        shouldSwitch = false;
        
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        /*check if the two rows should switch place,
        based on the direction, asc or desc:*/
        if (dir == "asc") {
          if (Number(x.innerHTML) > Number(y.innerHTML)) {
            //if so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
          }
        } else if (dir == "desc") {
          if (Number(x.innerHTML) < Number(y.innerHTML)) {
            //if so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        /*If a switch has been marked, make the switch
        and mark that a switch has been done:*/
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        //Each time a switch is done, increase this count by 1:
        switchcount ++;      
      } else {
        /*If no switching has been done AND the direction is "asc",
        set the direction to "desc" and run the while loop again.*/
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
    test = n
    window.alert(test);
  }
  </script>
  
{% endblock %}
{% endblock %}